<!--webサービスの説明-->
<div class="about-main">
  <h2>C&L flyerとは</h2>
    <p>自分が開催、または出演するコンサートやライブを宣伝できる無料のWebサービスです。自己アピールをして、会場に足を運んでもらいましょう！</p>
    <p>また、ここでは応援している人や応援したい人を見つけて、日程を見逃さずチェックしていただくことができます。</p>
  <div class="about-message">
    <h3>何ができる？</h3>
      <ul>
        <li>♪ コンサートやライブの告知　　</li>
        <li>♪ 応援したい人を見つけられる　</li>
        <li>♪ 日程を見逃さずチェックできる</li>
      </ul>
  </div>
</div>
